*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.toolbox-cont{
    width: 100vw;
    height: 6rem;
    background-color: black;
    display: flex;
    align-items: center;
}

.toolbox-priority-cont{
    height: 3rem;
    width: 18rem;
    background-color: aliceblue;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.action-btn-cont {
    height: 3rem;
    width: 8rem;
    background-color: aliceblue;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.color{
    height: 1.5rem;
    width: 3rem;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.pink{
    background-color: pink;
}

.add-btn{
    font-size: 1.75rem;
}
.remove-btn{
    font-size: 1.5rem;
}