body{
    height: 100vh;
    width: 100vw;
    margin: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.star-conainer{
    display: flex;
    justify-content: space-evenly;
}

.star{
    font-size: 2rem;
}

.star:hover{
    cursor: pointer;
}

h4{
    text-align: center;
}

.yellow{
    color:gold;
}